################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.asv
/PST/pstV2P3/Info/Examples/EELE5550/lab01/gen1_2axis.mat
/PST/pstV2P3/Info/Examples/EELE5550/lab01/gen1_classical.mat
/PST/pstV2P3/Info/Examples/EELE5550/lab01/gen1_subt.mat
/PST/pstV2P3/Info/Examples/pwrmod-Pinjection/octave-workspace
/PST/pstV2P3/Info/Examples/EELE5550/OneMachInfBus/OneMacInfBus01.mat
/PST/pstV2P3/Info/Examples/PSTmanualSystem/exampleSystem01.mat
*.aux
*.log
*.gz
/misc/previousCodeAttempts/stajcar/PSTN2.mat
/misc/previousCodeAttempts/trudnowski/delmePST.mat
/misc/previousCodeAttempts/trudnowski/sim_fle.mat
/PST/pstV2P3/DataFile.m
/PST/pstV2P3/Info/Examples/EELE5550/OneMachInfBus/OneMacInfBus01Oct.mat
/PST/pstV2P3/Info/Examples/ivmmod-LoadTrip/Exmaple1_NonlinearSim.mat
/PST/pstV2P3/Info/Examples/EELE5550/OneMachInfBus/OneMacInfBus02.mat
/PST/pstV2P3/Info/Examples/EELE5550/OneMachInfBus/OneMacInfBus03.mat
/PST/pstV2P3/Info/Examples/EELE5550/OneMachInfBus/OneMacInfBus04.mat
/PST/pstV2P3/Info/Examples/pwrmod-Pinjection/Exmaple1_NonlinearSim.mat
/PST/pstV2P3/Info/Examples/pwrmod-Pinjection/Exmaple1_LinearSim.mat
/PST/pstV2P3/Info/Examples/pwrmod-Pinjection/Example1_Linear.mat
/researchDocs/TEX/one-offs/200527-MATLABsummary/_minted-MATLABsummary
