################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.asv
/PST/pstV2P3/Info/Examples/EELE5550/lab01/gen1_2axis.mat
/PST/pstV2P3/Info/Examples/EELE5550/lab01/gen1_classical.mat
/PST/pstV2P3/Info/Examples/EELE5550/lab01/gen1_subt.mat
/PST/pstV2P3/Info/Examples/pwrmod-Pinjection/octave-workspace
/PST/pstV2P3/Info/Examples/EELE5550/OneMachInfBus/OneMacInfBus01.mat
/PST/pstV2P3/Info/Examples/PSTmanualSystem/exampleSystem01.mat
*.aux
*.log
*.gz
/misc/previousCodeAttempts/stajcar/PSTN2.mat
/misc/previousCodeAttempts/trudnowski/delmePST.mat
/misc/previousCodeAttempts/trudnowski/sim_fle.mat
/PST/pstV2P3/DataFile.m
/PST/pstV2P3/Info/Examples/EELE5550/OneMachInfBus/OneMacInfBus01Oct.mat
/PST/pstV2P3/Info/Examples/ivmmod-LoadTrip/Exmaple1_NonlinearSim.mat
/PST/pstV2P3/Info/Examples/EELE5550/OneMachInfBus/OneMacInfBus02.mat
/PST/pstV2P3/Info/Examples/EELE5550/OneMachInfBus/OneMacInfBus03.mat
/PST/pstV2P3/Info/Examples/EELE5550/OneMachInfBus/OneMacInfBus04.mat
/PST/pstV2P3/Info/Examples/pwrmod-Pinjection/Exmaple1_NonlinearSim.mat
/PST/pstV2P3/Info/Examples/pwrmod-Pinjection/Exmaple1_LinearSim.mat
/PST/pstV2P3/Info/Examples/pwrmod-Pinjection/Example1_Linear.mat
/researchDocs/TEX/one-offs/200527-MATLABsummary/_minted-MATLABsummary
/PST/0-examples/lmod/OneMacInfBus03.mat
/PST/0-examples/lmod/OneMacInfBus04.mat
/PST/0-examples/tg/twoMachineGov.mat
/PST/0-examples/mtg_sig/twoMachineGov.mat
/PST/0-examples/lmod/OneMacInfBus03-wZeros.mat
/researchDocs/TEX/one-offs/200605-MATLABclass/_minted-200605-MATLABclass
/researchDocs/TEX/one-offs/200608-matrixSpeedUp/_minted-200608-tgPrint
/researchDocs/TEX/one-offs/200608-matrixSpeedUp/_minted-200608-sSimuBatchPrint
/PST/0-examples/excLIN/linResults.mat
/PST/0-examples/excLIN/exciterTest.mat
/PST/0-examples/pwrmod-Pinjection/Example1_Linear.mat
/PST/0-examples/pwrmod-Pinjection/Example1_LinearSim.mat
/PST/0-examples/pwrmod-Pinjection/Example1_NonlinearSim.mat
/PST/0-examples/pwrmod-Pinjection/sim_fle.mat
/PST/0-examples/pwrmod-Iinjection/Example2_LinearSim.mat
/PST/0-examples/pwrmod-Iinjection/Example2_NonlinearSim.mat
/PST/0-examples/pwrmod-Iinjection/sim_fle.mat
/PST/0-examples/ivmmod/Example1_NonlinearSim.mat
/PST/0-examples/ivmmod/sim_fle.mat
/PST/0-examples/OMIB/OneMacInfBus02.mat
/PST/0-examples/lmod/linResults.mat
/PST/0-examples/lmod/loadStepNONLIN.mat
/PST/0-examples/lmod/svmV3P1.mat
/PST/0-examples/lmod/svmSETO.mat
/PST/0-examples/lmod/sim_fle.mat
/PST/0-examples/mtg_sig/prefStepNonLin.mat
/PST/0-examples/mtg_sig/linResults.mat
/PST/0-examples/OMIB/OneMacInfBus01.mat
/PST/0-examples/rlmod/loadStepNONLIN.mat
/PST/0-examples/rlmod/linResults.mat
/PST/0-examples/excLINseto/exciterTest.mat
/PST/0-examples/excLINseto/linResults.mat
/PST/0-examples/excLINseto/PSTpath.mat
/PST/0-examples/excLINseto/sim_fle.mat
/PST/pstSETO/sim_fle.mat
/PST/0-examples/pm_sigV3/linResults.mat
/PST/0-examples/pm_sigV3/twoMachineGov.mat
/PST/0-examples/pm_sigV3/pMechStepNonLin.mat
/PST/0-examples/pm_sigSETO/linResults.mat
/PST/0-examples/pm_sigSETO/pMechStepNonLin.mat
/researchDocs/TEX/one-offs/200619-AGCtex/_minted-200619-AGCtex
/PST/0-examples/BatchUnitTests/compTest.mat
/PST/0-examples/BatchUnitTests/PSTpath.mat
/PST/0-examples/BatchUnitTests/excT4NL.mat
/PST/0-examples/BatchUnitTests/excT4LIN.mat
/PST/0-examples/BatchUnitTests/excT3NL.mat
/PST/0-examples/BatchUnitTests/excT3LIN.mat
/PST/0-examples/BatchUnitTests/excT2NL.mat
/PST/0-examples/BatchUnitTests/excT2LIN.mat
/PST/0-examples/BatchUnitTests/excT1NL.mat
/PST/0-examples/BatchUnitTests/excT1LIN.mat
/PST/0-examples/BatchUnitTests/excT0NL.mat
/PST/0-examples/BatchUnitTests/excT0LIN.mat
/PST/0-examples/BatchUnitTests/sim_fle.mat
/PST/0-examples/mwTEST/pstV3p1PSSL.mat
/PST/0-examples/mwTEST/pstV3p1noPSSL.mat
/PST/0-examples/mwTEST/pstV2P3PSSL.mat
/PST/0-examples/mwTEST/pstV2P3noPSSL.mat
/PST/0-examples/mwTEST/pstSETOPSSL.mat
/PST/0-examples/mwTEST/pstSETOnoPSSL.mat
/PST/0-examples/pss/sim_fle.mat
/PST/0-examples/pss/PSTpath.mat
/PST/0-examples/pss/loadStepNONLIN.mat
/PST/0-examples/pss/linResults.mat
/PST/0-examples/pwrmod-Pinjection/PSTpath.mat
/researchDocs/TEX/one-offs/200630-ODE45study1/_minted-200630-ODE45study1
/PST/0-examples/mwTEST/pstSETOPSSwFixL.mat
/PST/0-examples/mwTEST/pstV2P3PSSwFixL.mat
/PST/0-examples/mwTEST/pstSETOPSSwGainFixL.mat
/PST/pstSETO/DataFile.m
/PST/0-examples/mwTEST/pstV2P3PSSwGainFixL.mat
/PST/0-examples/mwTEST/pstV3p1PSSwGainFixL.mat
/researchDocs/TEX/one-offs/200701-SolverStudy1/_minted-200701-SolverStudy1
/PST/0-examples/benchmarkSystems/miniWECC/pstSETOnoPSSL.mat
/PST/0-examples/benchmarkSystems/miniWECC/pstSETOPSSL.mat
/PST/0-examples/benchmarkSystems/miniWECC/pstSETOPSSwGainFixL.mat
/PST/0-examples/benchmarkSystems/miniWECC/pstV2P3PSSL.mat
/PST/0-examples/benchmarkSystems/miniWECC/pstV2P3PSSwGainFixL.mat
/PST/0-examples/benchmarkSystems/miniWECC/pstV3p1PSSwGainFixL.mat
/PST/0-examples/benchmarkSystems/NE39bus/PSTpath.mat
/PST/0-examples/benchmarkSystems/nppc48machine/pstSETOdatanp48.mat
/PST/0-examples/benchmarkSystems/nppc48machine/pstV2P3datanp48.mat
/PST/0-examples/benchmarkSystems/nppc48machine/pstV3p1datanp48.mat
/PST/0-examples/benchmarkSystems/NE39bus/pstV2P3datane.mat
/PST/0-examples/benchmarkSystems/ISU50machine/pstV3p1data50m.mat
/PST/0-examples/benchmarkSystems/ISU50machine/pstV2P3data50m.mat
/PST/0-examples/benchmarkSystems/ISU50machine/pstSETOdata50m.mat
/PST/0-examples/benchmarkSystems/benchmark19/pstV3p1d19new.mat
/PST/0-examples/benchmarkSystems/benchmark19/pstV2P3d19new.mat
/PST/0-examples/benchmarkSystems/benchmark19/pstSETOd19new.mat
/PST/0-examples/benchmarkSystems/NE39bus/sim_fle.mat
/PST/0-examples/SVC/pstV3P1SVCnonLIN.mat
/PST/0-examples/SVC/pstV2p3SVCnonLIN.mat
/PST/0-examples/SVC/pstSETOSVCnonLIN.mat
/PST/0-examples/SVC/PSTpath.mat
/PST/0-examples/SVC/sim_fle.mat
/PST/0-examples/SVC/linResults.mat
/PST/0-examples/TCSC/linResults.mat
/PST/0-examples/TCSC/pstV2p3TCSCnonLIN.mat
/PST/0-examples/TCSC/pstSETOTCSCnonLIN.mat
/PST/0-examples/TCSC/pstSETOSVCnonLIN.mat
/PST/0-examples/TCSC/pstV3P1TCSCnonLIN.mat
/researchDocs/TEX/one-offs/200709-PSTsetoVersionChanges/_minted-200709-PSTsetoVersionChanges
/PST/0-examples/TCSC/PSTpath.mat
/PST/0-examples/TCSC/sim_fle.mat
/PST/0-examples/inductive/pstV3P1SVCnonLIN.mat
/PST/0-examples/inductive/pstV2p3SVCnonLIN.mat
/PST/0-examples/inductive/pstSETOSVCnonLIN.mat
/PST/0-examples/inductive/sim_fle.mat
/PST/0-examples/inductive/PSTpath.mat
/PST/0-examples/inductive/pstSETOINDnonLIN.mat
/PST/0-examples/inductive/linResults.mat
/PST/0-examples/inductive/pstV2p3INDnonLIN.mat
/PST/0-examples/inductive/pstV3P1INDnonLIN.mat
/PST/0-examples/DC/pstV3P1DCnonLIN.mat
/PST/0-examples/DC/pstV2p3DCnonLIN.mat
/PST/0-examples/DC/pstSETODCnonLIN.mat
/PST/0-examples/DC/sim_fle.mat
/PST/0-examples/DC/PSTpath.mat
/PST/0-examples/DC/linResults.mat
/PST/0-examples/DC/pstV3P1linResults.mat
/PST/0-examples/DC/pstV2p3linResults.mat
/PST/0-examples/DC/pstSETOlinResults.mat
/PST/0-examples/benchmarkSystems/hiskens/pstV3p1datane_hiskens.mat
/PST/0-examples/benchmarkSystems/hiskens/pstV2P3datane_hiskens.mat
/PST/0-examples/benchmarkSystems/hiskens/pstSETOdatane_hiskens.mat
/PST/0-examples/AGC/pstSETOtestAGC.mat
/PST/0-examples/AGC/PSTpath.mat
/PST/0-examples/AGC/sim_fle.mat
/PST/0-examples/pwrmod-Iinjection/PSTpath.mat
/researchDocs/TEX/one-offs/200720-PSTandAGC/_minted-200720-PSTandAGC
/PST/0-examples/AGC/noAGCtest.mat
/PST/0-examples/AGC/AGCtest.mat
/PST/0-examples/AGC/AGCinttest.mat
/PST/0-examples/AGC/AGCalttest.mat
/researchDocs/TEX/weekly/200722/weekly_200722.out
*.out
/PST/0-examples/benchmarkSystems/hiskens/VTSdatane_hiskens.mat
/PST/0-examples/benchmarkSystems/hiskens/FTSpstSETOdatane_hiskens.mat
/PST/0-examples/benchmarkSystems/hiskens/VTSpstSETOdatane_hiskens.mat
/PST/0-examples/benchmarkSystems/hiskens/VTSode23tb.mat
/PST/0-examples/benchmarkSystems/hiskens/VTSode23t.mat
/PST/0-examples/benchmarkSystems/hiskens/VTSode23.mat
/PST/0-examples/benchmarkSystems/hiskens/VTSode15s.mat
/PST/0-examples/benchmarkSystems/hiskens/VTSode113.mat
/PST/0-examples/benchmarkSystems/hiskens/PSTpath.mat
/PST/0-examples/benchmarkSystems/hiskens/FTStest.mat
/PST/0-examples/benchmarkSystems/hiskens/VTStest.mat
/PST/0-examples/AGC/AGCtestVTS.mat
/PST/0-examples/AGC/AGCtestFTS.mat
/researchDocs/TEX/one-offs/200804-VTSexplained/_minted-200804-VTSexplained
/PST/0-examples/AGC/AGCtestVTS2.mat
/PST/0-examples/pwrmod-Pinjection/pwrmodVTS.mat
/PST/pstv311
/PST/0-examples/extendedTerm/pmRampVTS.mat
/PST/0-examples/extendedTerm/pmRampSETO.mat
/PST/0-examples/extendedTerm/pmRamp3.mat
/researchDocs/TEX/one-offs/200806-ExtendedVTSdetail/_minted-200806-ExtendedVTSdetail
/PST/0-examples/extendedTerm/pmRampVTS2.mat
/PST/0-examples/extendedTerm/pmRampVTS1.mat
/PST/0-examples/extendedTerm/pmRampVTS0.mat
/PST/0-examples/ivmmod/ivmVTS.mat
/PST/0-examples/ivmmod/ivmBatchF.mat
/PST/0-examples/ivmmod/ivm0.mat
/PST/0-examples/ivmmod/test1.mat
/PST/0-examples/ivmmod/ivmF.mat
/PST/0-examples/benchmarkSystems/miniWECC/VTSFault0.mat
/PST/0-examples/benchmarkSystems/miniWECC/PSTpath.mat
/PST/0-examples/benchmarkSystems/miniWECC-genTrip/test.mat
/PST/0-examples/benchmarkSystems/miniWECC-PWRMOD/sim_fle.mat
/PST/0-examples/benchmarkSystems/miniWECC-PWRMOD/test.mat
/PST/0-examples/benchmarkSystems/miniWECC-PWRMOD
/PST/0-examples/DC/PSTv4DCnonLIN.mat
/PST/0-examples/DC/PSTv4linResults.mat
/PST/PSTv4/DataFile.m
/PST/0-examples/benchmarkSystems/miniWECC-AGC/PSTpath.mat
/PST/0-examples/benchmarkSystems/miniWECC-AGC/test.mat
/PST/0-examples/benchmarkSystems/miniWECC-AGC/VTSrel-5.mat
/PST/0-examples/benchmarkSystems/miniWECC-AGC/VTSagcPstep.mat
/PST/0-examples/benchmarkSystems/miniWECC-AGC/FTSagcPstep.mat
/PST/0-examples/benchmarkSystems/miniWECC-genTrip/PSTpath.mat
/PST/0-examples/benchmarkSystems/miniWECC-AGC/tripTest.mat
/researchDocs/TEX/one-offs/200818-AGCminiWECCgenTrips/_minted-200818-AGCminiWECCgenTrips
/researchDocs/TEX/one-offs/200817-AGCminiWECC10min/_minted-200817-AGCminiWECC10min
/PST/0-examples/inductive/PSTv4INDnonLIN.mat
/PST/0-examples/SVC/PSTv4SVCnonLIN.mat
/PST/0-examples/benchmarkSystems/miniWECC-AGC/mwTrip-zeroStDx.mat
/PST/0-examples/benchmarkSystems/miniWECC-AGC/mwTrip-zeroDx.mat
/PST/0-examples/benchmarkSystems/miniWECC-AGC/mwTrip-norm.mat
/PST/0-examples/benchmarkSystems/miniWECC-AGC/mwTrip-FTS.mat
/PST/0-examples/AGC/AGCtestVTSmix.mat
/PST/0-examples/AGC/AGCmod.mat
/researchDocs/TEX/one-offs/200821-AGCicAdjTest/_minted-200821-AGCicAdjTest
/PST/0-examples/benchmarkSystems/miniWECC-AGC/tripTest2.mat
/PST/0-examples/unTrip/3mac_untripTest_EXC.mat
/PST/0-examples/unTrip/3mac_untripTest_noEXC.mat
/PST/0-examples/unTrip/3mac_untripTest_distinct.mat
/researchDocs/TEX/one-offs/200831-refinedUntripResults/_minted-200831-refinedUntripResults
/researchDocs/TEX/one-offs/200901-refinedUntripResults2/_minted-200901-refinedUntripResults2
/PST/0-examples/unTrip/3mac_untripTest_XXX.mat
/PST/0-examples/unTrip/3mac_untripTest_concurrent.mat
/researchDocs/TEX/PST4UserManual/template/_minted-PST4UserManual
/researchDocs/TEX/PST4UserManual/template/PST4UserManual.toc
*.loe
*.lof
*.lot
/researchDocs/TEX/PST4UserManual/template/PST4UserManual.run.xml
/researchDocs/TEX/PST4UserManual/template/bibliography.bbl
/researchDocs/TEX/PST4UserManual/template/bibliography.blg
*.bbl
*.bcf
*.blg
*.ist
/researchDocs/TEX/PST4UserManual/template/PST4UserManual.glo
/researchDocs/TEX/PST4UserManual/template/PST4UserManual.glsdefs
/PST/0-examples/hiskens/FTS_PSTv4_datane_hiskens.mat
/PST/0-examples/hiskens/FTS_pstV3p1_datane_hiskens.mat
/PST/0-examples/hiskens/FTS_pstV2P3_datane_hiskens.mat
/PST/0-examples/hiskens/FTS_pstSETO_datane_hiskens.mat
/PST/0-examples/hiskens/sim_fle.mat
/PST/0-examples/hiskens/VTStest.mat
/PST/0-examples/TCSC/PSTv4TCSCnonLIN.mat
/PST/0-examples/tg/sim_fle.mat
/PST/0-examples/tg/twoMachineNOGov.mat
/PST/0-examples/pm_sig/sim_fle.mat
/PST/0-examples/pm_sig/pMechStepNonLin.mat
/PST/0-examples/pm_sig/linResults.mat
/PST/0-examples/rlmod/sim_fle.mat
/PST/0-examples/mexc/sim_fle.mat
/PST/0-examples/mexc/linResults.mat
/PST/0-examples/mexc/exciterTest.mat
/PST/0-examples/exciterBatchTests/PSTpath.mat
/PST/0-examples/exciterBatchTests/excT4NL.mat
/PST/0-examples/exciterBatchTests/excT4LIN.mat
/PST/0-examples/exciterBatchTests/excT3NL.mat
/PST/0-examples/exciterBatchTests/excT3LIN.mat
/PST/0-examples/exciterBatchTests/excT2NL.mat
/PST/0-examples/exciterBatchTests/excT2LIN.mat
/PST/0-examples/exciterBatchTests/excT1NL.mat
/PST/0-examples/exciterBatchTests/excT1LIN.mat
/PST/0-examples/exciterBatchTests/excT0NL.mat
/PST/0-examples/exciterBatchTests/excT0LIN.mat
/PST/0-examples/exciterBatchTests/compTest.mat
/PST/0-examples/miniWECC/miniWECC-AGC/VTSrel-5.mat
/PST/0-examples/miniWECC/miniWECC-AGC/VTSagcPstep.mat
/PST/0-examples/miniWECC/miniWECC-AGC/tripTest2.mat
/PST/0-examples/miniWECC/miniWECC-AGC/tripTest.mat
/PST/0-examples/miniWECC/miniWECC-AGC/test.mat
/PST/0-examples/miniWECC/miniWECC-AGC/FTSagcPstep.mat
/PST/0-examples/miniWECC/miniWECC-genTrip/test.mat
/PST/0-examples/miniWECC/miniWECC-PWRMOD
/PST/pstV3p1/DataFile.m
/PST/0-examples/miniWECC/miniWECC/PSTv4PSSL.mat
/PST/0-examples/miniWECC/miniWECC/PSTv4PSSF.mat
/PST/0-examples/miniWECC/miniWECC/PSTv4PSSC.mat
/PST/0-examples/miniWECC/miniWECC/pstV2P3PSSL.mat
/PST/0-examples/miniWECC/miniWECC/pstSETOPSSL.mat
/PST/0-examples/miniWECC/miniWECC/VTSFault0.mat
/PST/0-examples/mtg_sig/sim_fle.mat
/PST/0-examples/pwrmod/I-injection/Example2_NonlinearSim.mat
/PST/0-examples/pwrmod/I-injection/Example2_LinearSim.mat
/PST/0-examples/pwrmod/P-injection/Example1_NonlinearSim.mat
/PST/0-examples/pwrmod/P-injection/Example1_LinearSim.mat
/PST/0-examples/pwrmod/P-injection/Example1_Linear.mat
